.env/
venv/
*.pyc
__pycache__/
.ipynb_checkpoints/
.DS_Store
*.log
*.jpg
*.jpeg
checkpoints/*
assets/*
basketBallFrames/*
build/*
demo/*
notebooks/*
SAM_2.egg-info/*
sav_dataset/*
tools/*
training/*
*.h5
*.pt
*.pkl
*.onnx
sam2/*
!sam2/sam2_camera_predictor.py
!sam2/build_sam.py

mediapipe_demo/.env/
deeplabv3.tflite
selfie_segmenter_landscape.tflite
my_results/yolo11_medium_human_seg/args.yaml
selfie_segmenter.tflite
body-seg-IIG.pth
selfie_multiclass_256x256.tflite
schp.pth
